body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F2f2f2;
	margin-bottom: 10px;
	border-radius: 10px;
}

#mainnav {
	margin-top: 20px;
}

.button {
	background-color: #006666;
}

.mainsection {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content {
	background: #FFFFFF;
	padding:  15px;
	border-radius: 10px;
}

.content img {
	height: 300px;
	width: 100%;
 	border-radius: 10px;
	box-shadow: 1px 1px 15px #999999;
	margin-bottom: 20px;
}

@media (max-width: 64.063em) {
	.content img {
		max-width: 400px;
	}

	.right {
		float: left;
	}

	#logo {
		display: none
	}
}